/****** Object:  Database [FolksDB]    Script Date: 6/7/2020 11:23:22 PM ******/
CREATE DATABASE [FolksDB]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 1 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[Client]    Script Date: 6/7/2020 11:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[street] [varchar](255) NULL,
	[City] [varchar](50) NULL,
	[Province] [varchar](25) NULL,
	[ZipCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/7/2020 11:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[OrderStatus] [tinyint] NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK__Order__C3905BCF6F71830E] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Service]    Script Date: 6/7/2020 11:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Service](
	[OrderId] [int] NOT NULL,
	[Order_ServiceId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[RequiredDate] [date] NOT NULL,
	[RequiredTimeSpan] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[Order_ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 6/7/2020 11:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[Fee] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__Service__C51BB00AF76A5B3C] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Service] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [DF__Service__Descrip__267ABA7A]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Order]  WITH NOCHECK ADD  CONSTRAINT [FK__Order__ClientId__5165187F] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__ClientId__5165187F]
GO
ALTER TABLE [dbo].[Order_Service]  WITH CHECK ADD  CONSTRAINT [FK__Order_Ser__Order__52593CB8] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Service] CHECK CONSTRAINT [FK__Order_Ser__Order__52593CB8]
GO
ALTER TABLE [dbo].[Order_Service]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
